@import 'bootstrap';
@import 'datatables.net-bs5';
@import 'vue-multiselect/dist/vue-multiselect.css';

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 0.9375rem; /*15px*/
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    color: #4b545c;
    font-family: 'Poppins', sans-serif !important;
    line-height: 1.6;
    overflow-x: hidden;
}

.checked-ok { 
    background: #8be082!important;
}


.theme-color{
    color: #4b545c;
}
.theme-color-bg{
    background: #4b545c;
}


.colored-toast.swal2-icon-success {
    background-color: #49A745 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #DC3545 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #FEC105 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3ACAF0 !important;
}

.colored-toast.swal2-icon-question {
    background-color: #6C757D !important;
}
.colored-toast .swal2-title {
    color: rgb(255, 255, 255);
}
  
.colored-toast .swal2-close {
    color: white;
}
.colored-toast .swal2-html-container {
    color: white;
}
.swal-wide{
    width:850px !important;
}
